.grid-ueberschriftABT {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    row-gap: 10px;
  }
  
  .grid-title{
    text-align: justify;
  }
  
  .grid-title h2{
    text-align: center;
    padding-left: 40%;  
    padding-right: 40%;
    padding-bottom: 20px;
    font-size: 32px;
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v32-latin-regular.woff2') format('woff2');
  }
  .grid-title h3{
    font-size: 24px;
    text-align: center; 
   /*swap: Gives the font face an extremely small block period and an infinite swap period.*/
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/noto-serif-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    padding-bottom: 80px;
  
  }
  .grid-item {
    text-align: justify;
    padding: 20px;
  }
  .grid-item h3{
    font-size: 24px;
    /*swap: Gives the font face an extremely small block period and an infinite swap period.*/
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/noto-serif-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  .grid-item p{
    font-size: 15px;
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 400;
    src: url('../fonts/noto-sans-v32-latin-regular.woff2') format('woff2');
  }
  
  .klasseBAT p{
  padding-left: 40%;
  }
  .klasseBAT h3{
    padding-left: 40%;
  }
    
  .klasseELT p{
    padding-right: 40%;
  }
  
  .klasseINF p{
    padding-left: 40%;
  }
  .klasseINF h3{
    padding-left: 40%;
  }
  
  .klasseME p{
    padding-right: 40%;
  }
  
  .klasseBAT a{
    color: #0069b4;
    font-size: 15px;
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 400;
    src: url('../fonts/noto-sans-v32-latin-regular.woff2') format('woff2');
  }
  
  
  .klasseELT a{
    color: #ef7d00;
    font-size: 15px;
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 400;
    src: url('../fonts/noto-sans-v32-latin-regular.woff2') format('woff2');
  
  }
  
  .klasseINF a{
    color: #951b81;
    font-size: 15px;
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 400;
    src: url('../fonts/noto-sans-v32-latin-regular.woff2') format('woff2');
  
  }
  
  .klasseME a{
    color: #95c77e;
    font-size: 15px;
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 400;
    src: url('../fonts/noto-sans-v32-latin-regular.woff2') format('woff2');
  }


  .iconBAT img{
    color: #0069b4;
    
  }

  .iconELT img{
    color: #ef7d00;
  }

  .iconINF img{
    color: #951b81;
  }

  .iconME img{
    color: #95c77e;
  }