 .footer {
    background-color: #e9e9e9;
    margin-top:5%;
    padding: 20px; 
}

.footer h3{
    font-size: 24px;
    /*swap: Gives the font face an extremely small block period and an infinite swap period.*/
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/noto-serif-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


.grid-containerfooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.footerUeberuns,
.footerKontakt,
.footerLinks, 
.footerSocialMedia{
    text-align: left; 
    margin-left: 40px;

}

.footerUeberuns p{
    margin-top: 10px;
}

.footerKontakt p{
    margin-top: 10px;
}

.footerLinks p{
    margin-top: 10px;
}

.footerSocialMedia p{
    margin-top: 10px;
}

.footerLinks a{
    color: #000;
    text-decoration: none;
}

.footerLinks a:hover{
    color: #c10a25;
    text-decoration: none;

}

.footerSocialMedia a{
    color: #000;
    text-decoration: none;
}

.footerSocialMedia a:hover{
    color: #c10a25;
    text-decoration: none;

}


.logoFooter {
    margin-left: 40px;
    margin-top: 20px;
    /*Durchgezogene Linie*/
    border-top: 1px solid #d3d4d3;
    /*Abstand zwischen Linie und Logo*/
    padding-top: 20px; 
    max-width: 95%;
}

.logo {
    max-width: 100%; 
}
