* {
    margin: 0;
    padding: 0;
}

#hero-image{
    background: url(/Bilder/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-clip: border-box;
    height: 100vh;
    width: 100%;
}

.grid-heroImage{
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  row-gap: 10px;
  position:relative;
}

.grid-heroImage h1{
  text-align: center;
  color: #fff;
  padding: 14%;
  /* word-break: break-all; */
  font-size: 56px;
  font-display: swap; 
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v32-latin-regular.woff2') format('woff2');
}


